<div ng-controller="dashboardCtrl">

    <div id="col-log-reg"   class="col-sm-6 col-md-5 col-md-offset-1 col_left" >
        <invitations></invitations>
        <fight></fight>




    </div>

    <div id="col-log-reg2" style="background-color: white" class="col-sm-6 col-md-4 ">

        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <conversation></conversation>
    </div>


    <div id="col-log-reg3" style="" class="col-sm-6 col-md-2 ">

        <connected></connected>


    </div>

</div>