<div ng-controller="gameboardCtrl">

    <div id="col-log-reg2" style="background-color: white" class="col-md-8">
        <gamezone></gamezone>
    </div>

    <div class="col-md-2">
        <table class="table table-striped table-bordered table-condensed" style="margin:20px auto 0;">
            <tr>
                <td>&larr;</td>
                <td>Left</td>
            </tr>
            <tr>
                <td>&rarr;</td>
                <td>Right</td>
            </tr>
            <tr>
                <td>&darr;</td>
                <td>Crouch</td>
            </tr>
            <tr>
                <td>Space</td>
                <td>Jump</td>
            </tr>
            <tr>
                <td>A</td>
                <td>Uppercut</td>
            </tr>
            <tr>
                <td>Z</td>
                <td>Kick</td>
            </tr>
            <tr>
                <td>E</td>
                <td>Special attack</td>
            </tr>
            <tr>
                <td>F</td>
                <td>Block</td>
            </tr>
        </table>

    </div>

</div>