<div ng-controller="homeCtrl" id="col-announce" class="col-sm-4 col-md-12">
    <h1 class="text-center">Welcome To Stick Fighters</h1>
    <div id="image_stickman">
        <img src="/resources/pictures/wpid-Stick_Man.jpg" alt="stickman">
    </div>
    <div id="col-log-reg" class="col-sm-6 col-md-5 col-md-offset-1 col-sm-offset-2" >
        <register></register>
    </div>
    <div id="col-log-reg2" class="col-sm-6 col-md-5 col-md-offset-1 col-sm-offset-2">

        <login></login>

    </div>

</div>